@model NewCongratulator.Models.HumanBirthdayData
@{
	ViewData["Title"] = "Delete";
}

<h3>Вы уверены что хотите удалить элемент:</h3>

<p>@Model.fullName</p>
<p>@Model.age</p>


<form asp-action="Delete" method="post">
	<input type="hidden" asp-for = "Id"/>
	<input type ="submit" class="btn btn-danger" value="Delete" />
</form>