@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>ОТКАЗ ОТ ОТВЕТСТВЕННОСТИ</h1>

<p>

    Информация, представленная на данном ресурсе, предоставляется исключительно в ознакомительных целях. Владелец ресурса не несёт ответственности за любые ошибки, неточности или упущения, а также за любые убытки, потери или последствия, возникшие в результате использования информации, размещённой здесь.

    Никакие материалы, опубликованные на сайте/в приложении, не являются юридической, медицинской, финансовой или иной профессиональной консультацией. Пользователь принимает на себя всю ответственность за интерпретацию, использование или распространение полученной информации.

    Все товары, услуги, ссылки на сторонние ресурсы, а также пользовательский контент размещаются "как есть", без гарантий какого-либо рода. Владелец ресурса не гарантирует бесперебойную работу, защиту от вирусов, безопасность данных и соответствие ожиданиям.

    Используя данный ресурс, пользователь соглашается с тем, что он делает это по собственному усмотрению и на собственный риск.

    Если вы не согласны с условиями данного отказа от ответственности, пожалуйста, прекратите использование ресурса.
</p>
